<form  action="/uploadavatar" method="post" enctype="multipart/form-data">
	<p>
		<!-- 图片上传 name属性必须有 -->
		<input type="file" name="avatar"  >
	</p>
	<!-- 1.表单提交一旦点击按钮页面跳转 解决方案嵌套一个iframe小电视标签  2.ajax 提交  -->
	<p>
		<input type="submit" value="提交">
	</p>
</form>